<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd" bootstrap="tests/bootstrap.php" executionOrder="random" testdox="false" colors="true" beStrictAboutOutputDuringTests="true" processIsolation="false" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="false">
  <coverage/>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="gebruiker">
      <file>tests/approval/GebruikerPageTest.php</file>
      <file>tests/integration/GebruikerTest.php</file>
    </testsuite>
    <testsuite name="rector">
      <directory>utils/rector/tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <file>./gateways/SchaapGateway.php</file>
    </include>
    <exclude>
      <directory>tests</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
</phpunit>
