/* 28-9-2018 toegpast in header.php*/

#titel { background-color : #A6C6EB; /*Blauw*/ }

#balkOntw { background-color : #c0b6da; /*Blauw*/ }
#balkTest { background-color : #E9EC4B; /*Geel*/ }
#balkDemo { background-color : #d0dab6; /*Licht groen*/ }
#balkProd { background-color : #9EB368; /*Groen*/ }

/************/


